.content{
    background-color: $white-background-color;
    border-radius: 1rem;
    margin: 1.25rem 0rem;
    padding: 1.5rem;

    &__categoryBtn{
        display: inline-block;
        font-size: $font-size-normal;
        font-weight: 500;
        background-color: $gray-background-color;
        border: 1px solid $border-color;
        border-radius: 1rem;
        padding: .7188rem 1rem;
    }

    &__title{
        padding: 1.5rem 0rem;
    }

    &__author{
        display: flex;
        align-items: center;
        &-image{
            width: 2.375rem;
            height: 2.375rem;
        }
        &-info{
            display: flex;
            flex-direction: column;
            margin-left: .7425rem;
            
            .author-name{
                font-size: .8906rem;
                font-weight: 500;
            }

            &__footer{
                .highlight{
                    font-size: .75rem;
                    font-weight: 600;
                    padding: .1481rem .445rem;
                }
                .xper{
                    padding-left: .445rem;
                    font-weight: 400;
                    font-size: .6681rem;
                }
            }
        }
    }

    &__description{
        &-text{
            padding: 1.5rem 0rem;
        }
    }
}