.sidebar{
    background-color: $white-background-color;
    border-radius: 1rem;
    margin: 1.25rem 1.25rem;
    padding: 1.5rem;
    max-height: 28.3125rem;

    &__title{
        font-size: 1.25rem;
        font-weight: 700;
    }

    &__topics{
        &-item{
            display: flex;
            flex-direction: column;
            padding: 1rem 0;
            border-bottom: 1px solid $border-color;
            font-weight: 600;
            line-height: 1.6rem;
            &:last-child{
                border-bottom: none;
            }
        }
    }
    &__plane{
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 1rem;
        z-index: 5;
        cursor: pointer;
    }
}